extends layout

block content
    .row
      .col-md-5.col-lg-5#left
        h1.
          Select a User from the list
        select.form-control
          each user, i in userList
            option= user.username
        .row.user-form
          form.form-horizontal#formAddUser(name="adduser", method="post")
            .form-group(style='padding-top:20px;')
              .col-xs-6
                input.form-control#inputUserName(type="text", placeholder="Username", name="username", required)
                //.input-group
                  span.input-group-addon
                    input#inputIsRenameMode(type="checkbox", name="isRenameMode" title="Rename if checked instead of adding a new user")
              .col-xs-6
                .input-group
                  span.input-group-addon @
                  input.form-control.bl#inputUserEmail(type="email", placeholder="Email", name="useremail", required)
            .form-group
              .col-xs-12
                input.form-control#inputUserPass(type="text", placeholder="Password" , name="userpassword", required)
            .form-group
              .col-xs-4
                input.form-control#inputUserCname(type="text", placeholder="Name", name="name")
              .col-xs-4
                input.form-control#inputUserGender(type="text", placeholder="Gender", name="usergender")
              .col-xs-4
                input.form-control#inputUserLocation(type="text", placeholder="Location", name="userlocation")
            textarea.form-control#inputUserBio(placeholder="Biography", name="userbio")
            .form-group
              .col-xs-3
                .checkbox
                  label
                    input#inputIsBanned(type="checkbox", name="isBanned")
                    | Banned
              .col-xs-5
                .checkbox
                  label
                    input#inputIsCheater(type="checkbox", name="isCheater")
                    | Cheater
              .col-xs-4
                .checkbox
                  label
                    input#inputIsHonest(type="checkbox", name="isHonest")
                    | Honest
            .form-group
              .col-xs-3
                .checkbox
                  label
                    input#inputIsGithubCool(type="checkbox", name="isGithubCool")
                    | GithubCool
              .col-xs-5
                .checkbox
                  label
                    input#inputIsMigrationGrandfathered(type="checkbox", name="isMigrationGrandfathered")
                    | MigrationGrandfathered
              .col-xs-4
                .checkbox
                  label
                    input#inputIsLocked(type="checkbox", name="isLocked")
                    | Locked
            .form-group
              .col-xs-3
                .checkbox
                  label
                    input#inputIsUniqMigrated(type="checkbox", name="isUniqMigrated")
                    | UniqMigrated
              .col-xs-5
                .checkbox
                  label
                    input#inputIsBackEndCert(type="checkbox", name="isBackEndCert")
                    | BackEndCert
              .col-xs-4
                .checkbox
                  label
                    input#inputIsFullStackCert(type="checkbox", name="isFullStackCert")
                    | FullStackCert
            .form-group
              .col-xs-3
                .checkbox
                  label
                    input#inputIsEmailVerified(type="checkbox", name="isEmailVerified")
                    | emailVerified
              .col-xs-5
                .checkbox
                  label
                    input#inputIsSendMonthlyEmail(type="checkbox", name="isSendMonthlyEmail")
                    | sendMonthlyEmail
      .col-md-5.col-lg-5#middle
        h1 User's challenges
        - var x = 0
        input#globalCheck(type='checkbox')
        | 
        a(data-toggle='collapse', data-parent='#accordion', href="#accordion") Check/uncheck all checkboxes
        ul#accordion(class = "collapse map-collapse no-transition", style='list-style-type:none;padding-left:20px;')
          each fileBlock, i in filelist
            - x++;
            li
              input(type='checkbox')
              | 
              b
                a(data-toggle='collapse', data-parent='#accordion', href="#t#{x}")=i
              ul(class = "collapse map-collapse no-transition", id='t#{x}', style='list-style-type:none;padding-left:20px;')
                each file, k in fileBlock
                  li
                    input(type='checkbox')
                    | 
                    a.clickFile(data-toggle='collapse', data-parent='#accordion', href='#')= file

      .col-md-2.col-lg-2#right
        div(style='margin-bottom:80px;')
        button.btn.btn-warning.btn-block.btn-md.disabled#markRandom Check random challenges
        button.btn.btn-primary.btn-block.btn-md.disabled#markComplete(type='submit', form='formAddUser') Save user
        button.btn.btn-danger.btn-block.btn-md.disabled#deleteUser Delete user

    script.
      function replaceSafeTags(value) {
        return value
          .replace(/fccss/gi, '<script>')
          .replace(/fcces/gi, '</' + 'script>');
      }

      function replaceFccfaaAttr(value) {
        return value.replace(/<form[^>]*>/, function(val) {
          return val.replace(/fccfaa(\s*?)=/, 'action$1=');
        });
      }

      function decodeTags(val) {
        return replaceSafeTags(replaceFccfaaAttr(val));
      }

      var Users = !{JSON.stringify(userList)};
      var length = Users.length;
      for (var i = 0; i < length; i++) {
        if (Users[i].completedChallenges &&
          Users[i].completedChallenges.length > 0
        ) {
          for (var k = 0; k < Users[i].completedChallenges.length; k++) {
            if (Users[i].completedChallenges[k].solution) {
              Users[i].completedChallenges[k].solution =
                decodeTags(Users[i].completedChallenges[k].solution);
            }
          }
        }
      }
