extends layout

block content
    .row
      .col-md-5.col-lg-5#left
        h1.
          Settings
        .dropdown
          button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
            span.text Click to select a user from the list
            | 
            span.caret
          ul.dropdown-menu.select
            each user, i in userList
              li
                a.option(href="#", data-id=i)= user.username
        .row.user-form
          form.form-horizontal#formAddUser(name="adduser", method="post")
            .form-group(style='padding-top:20px;')
              .col-xs-4
                .input-group
                  input.form-control#inputUserName(type="text", placeholder="Username", name="username", pattern="^[a-z0-9]+$", required)
                  label.input-group-addon
                    input#inputIsRenameMode(type="checkbox", name="isRenameMode" title="Rename if checked instead of adding a new user")
              .col-xs-4
                  input.form-control.bl#inputUserEmail(type="email", placeholder="Email", name="useremail", required)
              .col-xs-4
                input.form-control#inputUserPass(type="password", placeholder="Password" , name="userpassword", required)              
            .form-group
              .col-xs-6
                input.form-control#inputUserCname(type="text", placeholder="Name", name="name" title="Your name that you'll see on your certification and on your profile page. Is pulled from your GitHub account.")
              .col-xs-6
                input.form-control#inputUserLocation(type="text", placeholder="Location", name="userlocation" title="Your location you'll see on your profile page. Is pulled from your GitHub account.")
            .form-group
              .col-xs-12
                input.form-control#inputUserPicture(type="text", placeholder="User's picture here", name="userpicture" title="Your FreeCodeCamp profile picture. Is pulled from your GitHub account.")
            textarea.form-control#inputUserBio(placeholder="Biography", name="userbio" title="Your bio you'll see on your profile page. Is pulled from your GitHub account.")
            .control-group
              .col-xs-3
                .checkbox
                  label(title="Checking this makes user's profile private so others can't view it.")
                    input#inputIsLocked(type="checkbox", name="isLocked")
                    | Locked
              .col-xs-3
                .checkbox
                  label(title="Checking this makes a user cheater. A message is show on every page for such a camper.")
                    input#inputIsCheater(type="checkbox", name="isCheater")
                    | Cheater
              .col-xs-3
                .checkbox
                  label(title="Checking this indicates if user has agreed FreeCodeCamp Academic Honesty Pledge. This is mandatory for getting any FCC certificate.")
                    input#inputIsHonest(type="checkbox", name="isHonest")
                    | Honest
              .col-xs-3
                .checkbox
                  label(title="Checking this indicates that user has a GitHub accout associated with his/her FCC account. This is mandatory if user wants others to be able to view their certificate.")
                    input#inputIsGithubCool(type="checkbox", name="isGithubCool")
                    | GithubCool
            .control-group
              .col-xs-3
                .checkbox
                  label(title="Checking this indicates that user is Front End certified")
                    input#inputIsFrontEndCert(type="checkbox", name="isFrontEndCert")
                    | FrontEndCert
              .col-xs-3
                .checkbox
                  label(title="Checking this indicates that user is Data Visualization certified")
                    input#inputIsDataVisCert(type="checkbox", name="isDataVisCert")
                    | DataVisCert
              .col-xs-3
                .checkbox
                  label(title="Checking this indicates that user is Back End certified")
                    input#inputIsBackEndCert(type="checkbox", name="isBackEndCert")
                    | BackEndCert
              .col-xs-3
                .checkbox
                  label(title="Checking this indicates that user is Full Stack certified")
                    input#inputIsFullStackCert(type="checkbox", name="isFullStackCert")
                    | FullStackCert
            .control-group
              .col-xs-3
                .checkbox
                  label(title="Checking this indicates that user have verified email.")
                    input#inputIsEmailVerified(type="checkbox", name="isEmailVerified")
                    | emailVerified
              .col-xs-3
                .checkbox
                  label(title="Checking this means user wants to recieve monthly announcement emails")
                    input#inputIsSendMonthlyEmail(type="checkbox", name="isSendMonthlyEmail")
                    | sendMonthlyEmail
              .col-xs-3
                .checkbox
                  label(title="Checking this means user wants to recieve weekly emails from Quincy Larson")
                    input#inputIsSendQuincyEmail(type="checkbox", name="isSendQuincyEmail")
                    | sendQuincyEmail
              .col-xs-3
                .checkbox
                  label(title="Checking this means user wants to recieve notification emails")
                    input#inputIsSendNotificationEmail(type="checkbox", name="isSendNotificationEmail")
                    | sendNotificationEmail
            .control-group
              .col-xs-12
                b Choose FCC UI for the user:&nbsp;
                label
                  input(type="radio", name="nightMode" value="default" checked)
                  | &nbsp;default&nbsp;
                label
                  input(type="radio", name="nightMode" value="night")
                  | &nbsp;night
      .col-md-5.col-lg-5#middle
        h1 Challenges
        div#middle-float
          - var x = 0
          input#globalCheck(type='checkbox')
          | 
          a(data-toggle='collapse', data-parent='#accordion', href="#accordion") Check/uncheck all checkboxes
          ul#accordion(class = "collapse map-collapse no-transition", style='list-style-type:none;padding-left:20px;')
            each fileBlock, i in filelist
              - x++;
              li
                input(type='checkbox')
                | 
                b
                  a(data-toggle='collapse', data-parent='#accordion', href=`#t${x}`)=i
                ul(class = "collapse map-collapse no-transition", id=`t${x}`, style='list-style-type:none;padding-left:20px;')
                  each file, k in fileBlock
                    li
                      input(type='checkbox')
                      | 
                      a.clickFile(data-toggle='collapse', data-parent='#accordion', href='#')= file

      .col-md-2.col-lg-2#right
        div(style='margin-bottom:80px;')
        .change-buttons
          button.btn.btn-warning.btn-block.btn-md.disabled#markRandom Check random challenges
          button.btn.btn-primary.btn-block.btn-md.disabled#markComplete(type='submit', form='formAddUser') Save user
          button.btn.btn-danger.btn-block.btn-md.disabled#deleteUser Delete user
        div(style='margin-top:80px;')
        button.btn.btn-danger.btn-block.btn-md.disabled#clearCache(title='Remove cached JSON files from browser\'s localStorage') Clear cache

    include modals

    script.
      var Users = !{JSON.stringify(userList)};
